h3{
text-align: left;
}

.elseinfo{
  padding: 2em;
  background-color: #ffffff;
  max-width: 70vw;
  margin: 0 auto;
  font-family: 'Hind', sans-serif;
}

.footbar{
  margin-top:5.5em;
  margin-bottom: 0;
  padding: 2em;
  text-align: center;
  background-color: rgba(255,255,255,0.75);
}
